#wrapper{
    width: 90%;
    margin: 2% auto;
}
body{
    font-size: 20px;
    font-family: Arial;
}
h1{
    font-size: 40px;
    font-weight: bold;
    display: inline;
}
header{
    text-align: center;
}
#logo{
    display: inline;
    width: 15%;
    margin: 0.5% 2%;
}
#intro{
    max-width: 100%;
    float: right;
}
section button{
    display: block;
    margin: 1% 1% 1% 50%;
    width: 30%;
}
#main-header {
    border: 1px solid black;
}
aside header{
    font-size: 1em;
    margin: 2% 0;
}
aside {
    width: 25%;
    border: 1px solid black;
    margin-top: 1%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 1%;
    float: left;

}
aside section{
    font-size: 0.7em;
    padding-left: 10%;
    border: 1px solid black;
    margin: 3% 0;
}
.main-section{

}
main {
    width: 100%;
    border: 1px solid black;
    margin-top: 1%;
    display: inline-block;
}
.clearfix:after{
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
footer{
    border: 1px solid black;
    width: 100%;

}
