
img{
    width:25%;
/*	margin: auto;
	padding-left:25%;
		-webkit-transition: all 1.3s ease-in-out;
    -moz-transition:    all 1.3s ease-in-out;
    -o-transition:      all 1.3s ease-in-out;
    -ms-transition:     all 1.3s ease-in-out;*/
}
a:active img {

   -webkit-transform: rotate(1000deg) scale(1.1);
   -webkit-transition: -webkit-transform 2s ease-out;

}